body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#my-btn {
    position: absolute;
    border: none;
    outline: none;
    color: #fff;
    padding: .5rem;
}

.btn {
    margin : 20px 100px
}